# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.banners.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Marian\Desktop\onGoingWork\banners\.idea\.idea.banners.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
